body {
  background-image: url(https://i.pinimg.com/originals/72/b9/8a/72b98a2c3d1ec46e2cab6cb3847de563.gif);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}

 .video-container {
    position:relative;
  }
  #videoplayer1 {
      height: 500px;
      width: auto;
      top:100px;
    left: 200px;
    position: absolute; 
  }
  
  #videoplayer2 {
      height: 350px;
      width: auto;
      top:900px;
      left:100px
      position: absolute;
  }
  #videoplayer3 {
    height: 400px;
    width:auto;
    position:absolute;
    left:700px;
    top: 50px;
    }
#videoplayer4 {
  height:600px;
  width: auto;
  position: absolute;
  left:400px;
  top:700px;
}

#videoplayer6 {
  height: 400px;
  width: auto;
  position:absolute;
  left:150px;
  top:500px;
}
#videoplayer7 {
  height: 300px;
  width: auto;
  position:absolute;
  left:675px;
  top:800px;
}
#videoplayer8 {
  height: 300px;
  width: auto;
  position:absolute;
  left:850px;
  top:400px;
}
#videoplayer9 {
  height: 300px;
  width: auto;
  position:absolute;
  left:100px;
  top:800px;
}
